*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --backgroundColour: hsl(26, 64%, 2%);
    --background--feedback-card: hsl(60, 3%, 14%);
    --buttons--feedback-card: hsl(60, 2%, 21%);
    --secondaryText--feedback-card: hsl(60, 3%, 43%);
}

html{
    margin: 0; 
}

body{
    background-color: var(--backgroundColour);
    font-family:'Courier New', Courier, monospace; /*New font family added*/
}

.viewport{
    padding: 4em 0;
}

.feedback-card{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0 auto;
    width: 30em;
    height: 30em;
    background-color: var(--background--feedback-card);
    border-radius: 3rem;
    padding: 2em 2em;
    border: 2px solid lightblue
}

.fa-star{
    padding: 0.9em;
    border-radius: 50em;
    background-color: var(--buttons--feedback-card);
    font-size: 1.5rem;
}

#heading{
    margin-top:40px;
    color: white;
}

#paragraph{
    font-size: 1.25rem;
}

.secondary{
    color: var(--secondaryText--feedback-card);
}



