*, *::before, *::after{
    box-sizing: border-box;
    /* height:100%; */
}

:root{
    --backgroundColour: hsl(26, 64%, 2%);
    --background--feedback-card: hsl(60, 3%, 14%);
    --buttons--feedback-card: hsl(60, 2%, 21%);
    --secondaryText--feedback-card: hsl(60, 3%, 43%);
    --selectedButton--feedback-card: hsl(32, 85%, 47%); 
    --hoverButton--feedback-card: hsl(36, 2%, 55%);
}

html{
    margin: 0; 
}

body{
    background-color: var(--backgroundColour);
    font-family:'Courier New', Courier, monospace;
}

.viewport{
    padding: 4em 0;

}

.feedback-card{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30em;
    height: 30em;
    background-color: var(--background--feedback-card);
    border-radius: 3rem;
    padding: 2em 2em;
}

.fa-star{
    padding: 0.9em;
    border-radius: 50em;
    background-color: var(--buttons--feedback-card);
    font-size: 1.5rem;
}

#heading{
    margin-top:35px;
    color: white;
}

#paragraph{
    font-size: 1.25rem;
}

.secondary{
    color: var(--secondaryText--feedback-card);
}

.centred{
    justify-content:center;
}

.feedback-scoring{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.3rem;
}

.feedback-scr-btn{
    padding: 15px 20px;
    border-radius:50%;
    border: transparent;
    background-color:var(--buttons--feedback-card);
    font-size: 1rem;
}

.submit-btn-cont{
    text-align:center;
    margin-top: 2em;
}

.submit-btn{
    background-color:var(--selectedButton--feedback-card);
    border: transparent;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 1em 10.5em;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    letter-spacing: 0.15rem;
}

.feedback-scr-btn:hover{
    background: var(--selectedButton--feedback-card);
    color: white;
}

.active{
    cursor:pointer;
    background-color:var(--hoverButton--feedback-card);
    color:white;
}

.submit-btn:hover{
    background: white;
    color: var(--selectedButton--feedback-card);
}
